<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/inicio.css">
    
    <title>Inicio</title>
    <div class="container-fluid">
      <div class="row">
              <img src="../Img/logo-ministerio-del-trabajo.jpg" style="width: 300px; align-items: start; margin-right: 400px;">
              <img src="../Img/Logo_Biblio.png" style="width: 300px; margin-left: 850px; align-items: end;">
        </div>
  </div>
    

</head>
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="/resources/public/Img/logoSena.png" alt="Logo" width="80" height="50" style="margin-right: 30px; margin-left: 20px;">
      </a>


      <!-- Botón para colapsar en dispositivos pequeños -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Contenido del navbar -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#" style="margin-right: 30px;">Inicio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"  style="margin-right: 30px;">Inventario</a>
              </li>
              
              <li class="nav-item">
                  <a class="nav-link" href="" style="margin-right: 300px;" > Clasificacion</a>
              </li>

              <!-- Formulario de búsqueda -->
              <form class="d-flex" style="margin-left: 800px; width: 450px;" >
                  <input class="form-control me-2" type="search" placeholder="Busca " aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>

      
          </ul>


        
         
      </div>
  </div>
</nav>

<body>
      <div class="container-xl">
        <div class="row">
          <h3 style="text-align: center; margin-top: 20px; margin-bottom: 20px;"> Visita la Biblioteca</h3>
          <div class="content-all">
            <div class="content-carrousel">
              <figure><img src="../Img/CamScanner 05-06-2024 09.31_12.jpg"></figure>
              <figure><img src="../Img/CamScanner 05-06-2024 09.31_13.jpg"></figure>
              <figure><img src="../Img/CamScanner 05-06-2024 09.31_14.jpg"></figure>
              <figure><img src="../Img/CamScanner 05-06-2024 09.31_15.jpg"></figure>
              <figure><img src="../Img/CamScanner 05-06-2024 09.31_16.jpg"></figure>
              <figure><img src="../Img/CamScanner 05-06-2024 09.31_17.jpg"></figure>
              <figure><img src="../Img/CamScanner 05-06-2024 09.31_18.jpg"></figure>
              <figure><img src="../Img/CamScanner 05-06-2024 09.31_2.jpg"></figure>
              <figure><img src="../Img/CamScanner 05-06-2024 09.31_3.jpg"></figure>
              <figure><img src="../Img/CamScanner 05-06-2024 09.31_5.jpg"></figure>
            </div>
          </div>
        </div>
      </div>
  
        
   
    <div class="container-xl" style="margin-left: 300px; margin-right: 400px; margin-top: 200px;">
      <div class="row ">
        <div class="col-md-4">
          <div class="container-custom">
            <div class="p-3"> <h5> Agenda De La Biblioteca <svg xmlns="http://www.w3.org/2000/svg"  width="40" height="40" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16" >
              <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
            </svg></h5>
              
            </div>   
          </div>
          
          <iframe src="https://calendar.google.com/calendar/embed?src=alejandrova.espinosa%40gmail.com&ctz=America%2FBogota" style="border: 0"  width="410" height="300" frameborder="0" scrolling="no" m></iframe>           
        </div>
        <div class="col-md-4">
          <div class="container-c2">
            <div class="p-3"> <h5> Nuevas Colecciones
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
              </svg></h5>
            </div>
          </div>
          <button class="image-button" style="text-align: center;"> </button>
        </div>
        <div class="col-md-4">
          <div class="container-c3">
            <div class="p-3"><h5> Noticias
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
                <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5z"/>
                <path d="M2 3h10v2H2zm0 3h4v3H2zm0 4h4v1H2zm0 2h4v1H2zm5-6h2v1H7zm3 0h2v1h-2zM7 8h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2z"/>
              </svg></h5>
            </div>
          </div>
          <div class="video-container" style="margin-left: 50px; margin-bottom: 0px;">
            <video controls>
              <source src="/public/img/videos/Así nació el SENA.mp4" type="video/mp4">
              Tu navegador no soporta el elemento de video
            </video>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <button type="button" class="btn btn-outline-success" style="margin-top: 10px; width: 400px; " >Separa la Biblioteca</button>
        </div>
        <div class="col-md-4" style="margin-top:-123px ;">
          <button class="image-button2"style="text-align:center; margin: top 10px; " ></button>
        </div>
        <div class="col-md-4">
          <button class="image-button3"> <h5 style=" background-color: aliceblue; margin-top: 90px;"> Eventos Culturales</h5></button>
        </div>
      </div>
    </div>
    <div class="container-xl" style="margin-top: 50px;">

      <div class="title">
        <div class="row" style="text-align: center;">

          <h3> Nuestra Colecciones</h3>

        </div>
      </div>
      <div class="row" style="margin-top: 30px; margin-left: 100px;">
        <div class="col-md-3">
          <figure class="container4">
            <img src="../Img/craiyon_050923_Server_Populations_Ebb.png">
            <figcaption>
              <img class="logo" src="/public/Img/logoSena.png">
            </figcaption>
            <a href="../views/Inicio2.html"></a>
          </figure>
            <h5>Informatica</h5>
        </div>
          <div class="col-md-3">
              <figure class="container4">
                <img src="../Img/craiyon_050923_Server_Populations_Ebb.png">
                <figcaption>
                  <img class="logo" src="/public/Img/logoSena.png">
                </figcaption>
                <a href="../views/Inicio2.html"></a>
              </figure> 
              <h5>Matematicas</h5>
          </div>
          <div class="col-md-3">
            <figure class="container4">
              <img src="../Img/craiyon_050923_Server_Populations_Ebb.png">
              <figcaption>
                <img class="logo" src="/public/Img/logoSena.png">
              </figcaption>
              <a href="../views/Inicio2.html"></a>
            </figure> 
            <h5>Ciencias Naturales</h5>
        </div>
        <div class="col-md-3">
          <figure class="container4">
            <img src="../Img/craiyon_050923_Server_Populations_Ebb.png">
            <figcaption>
              <img class="logo" src="/public/Img/logoSena.png">
            </figcaption>
            <a href="../views/Inicio2.html"></a>
          </figure> 
          <h5>Literatura</h5>
      </div>
      </div>
      <div class="row" style="margin-top: 30px; margin-left: 100px;">
        <div class="col-md-3">
          <figure class="container4">
            <img src="../Img/craiyon_050923_Server_Populations_Ebb.png">
            <figcaption>
              <img class="logo" src="/public/Img/logoSena.png">
            </figcaption>
            <a href="../views/Inicio2.html"></a>
          </figure> 
          <h5>Actividad Fisica</h5>
        </div>
        <div class="col-md-3">
          <figure class="container4">
            <img src="../Img/craiyon_050923_Server_Populations_Ebb.png">
            <figcaption>
              <img class="logo" src="/public/Img/logoSena.png">
            </figcaption>
            <a href="../views/Inicio2.html"></a>
          </figure> 
          <h5>Estudios Tierra</h5>
        </div>
        <div class="col-md-3">
          <figure class="container4">
            <img src="../Img/craiyon_050923_Server_Populations_Ebb.png">
            <figcaption>
              <img class="logo" src="/public/Img/logoSena.png">
            </figcaption>
            <a href="../views/Inicio2.html"></a>
          </figure> 
          <h5>Circuitos</h5>
        </div>
        <div class="col-md-3">
          <figure class="container4">
            <img src="../Img/craiyon_050923_Server_Populations_Ebb.png">
            <figcaption>
              <img class="logo" src="/public/Img/logoSena.png">
            </figcaption>
            <a href="../views/Inicio2.html"></a>
          </figure> 
          <h5>Ingieneria</h5>
        </div>
      </div>
      <div class="row" style="margin-top: 30px; margin-left: 100px;">
        <div class="col-md-3">
          <figure class="container4">
            <img src="../Img/craiyon_050923_Server_Populations_Ebb.png">
            <figcaption>
              <img class="logo" src="/public/Img/logoSena.png">
            </figcaption>
            <a href="../views/Inicio2.html"></a>
          </figure> 
          <h5>Comunicaciones</h5>
        </div>
        <div class="col-md-3">
          <figure class="container4">
            <img src="../Img/craiyon_050923_Server_Populations_Ebb.png">
            <figcaption>
              <img class="logo" src="/public/Img/logoSena.png">
            </figcaption>
            <a href="../views/Inicio2.html"></a>
          </figure> 
          <h5 >Agricultura</h5>
        </div>
        <div class="col-md-3">
          <figure class="container4">
            <img src="../Img/craiyon_050923_Server_Populations_Ebb.png">
            <figcaption>
              <img class="logo" src="/public/Img/logoSena.png">
            </figcaption>
            <a href="../views/Inicio2.html"></a>
          </figure> 
          <h5>Veterinaria</h5>
        </div>
        <div class="col-md-3">
          <figure class="container4">
            <img src="../Img/craiyon_050923_Server_Populations_Ebb.png">
            <figcaption>
              <img class="logo" src="/public/Img/logoSena.png">
            </figcaption>
            <a href="../views/Inicio2.html"></a>
          </figure> 
          <h5>Contabilidad</h5>
        </div>
      </div>
    </div>
</body>
<footer style="background-color: gray;">
  <div class="container-xl" style="margin-top: 50px;">
    <h6>Servicio Nacional de Aprendizaje SENA - Dirección General</h6>
  <h6>Calle 57 No. 8 - 69 Bogotá D.C. (Cundinamarca), Colombia</h6>
  <h6>Atención presencial: lunes a viernes 8:00 a.m. a 5:30 p.m.<h6>
  <h6>Resto del país sedes y horarios Atención telefónica: lunes a viernes 7:00 a.m. a 7:00 p.m. - sábados 8:00 a.m. a 1:00 p.m</h6>
  <h6>Lineas gratuitas atención al ciudadano: Bogotá (57 1) 3430111 - Resto del país 018000 910270</h6>
  <h6>Lineas gratuitas atención al empresario: Bogotá (57 1) 3430101 - Resto del país 018000 910682</h6>
  <h6>Conmutador Nacional (57 1) 5461500 - Extensiones 12586 - 13021 - 12535 - 12542</h6>
  <h6>biblioteca.sena@misena.edu.co</h6>
  
  @if (Auth::check() && Auth::user()->role === 'amdmi')
    <button> Sitio STAFF</button>
  @endif
    

  
  </div>
  
</footer>
</html>