.container-fluid {
    height: 150px; 
}
.align-start {
    display: flex;
    align-items: flex-start;
}
.align-end {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.no-border {
    border: none;
    margin: 0 !important;
}

.content-all{
    width: 200px;
    margin: auto;
    margin-top: 50px;
    perspective: 1000px;
}
.content-carrousel{
    width: 100%;
    height: 150px;
    position:relative;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
    
}
.content-carrousel:hover{
    animation-play-state: paused;
}

.content-carrousel figure{
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: absolute;
}


.content-carrousel figure:nth-child(1){ transform: rotateY(90deg) translateZ(100px);}
.content-carrousel figure:nth-child(2){ transform: rotateY(180deg) translateZ(100px);}
.content-carrousel figure:nth-child(3){ transform: rotateY(270deg) translateZ(100px);}
.content-carrousel figure:nth-child(4){ transform: rotateY(360deg) translateZ(100px);}



.content-carrousel img{
    width: 150px;
}
.content-carrousel img:hover{
    transform: scale(1.2);
}
@keyframes rotar{
    from{
        transform: rotateY(0deg);
    } to{
        transform: rotateY(360deg);
    }
}
