.conainerxl{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bi-calendar{
    fill: green;
}
.container-custom{
    background-color: rgb(201, 206, 201);
    padding: 0px;
    display: flex;
    margin-bottom: 10px;
    border-radius: 15px;
    height: 60px;

}
.container-custom svg {
    margin-left: 100px;
}

.bi-book{
    fill: green;
}
.container-c2{
    background-color: rgb(201, 206, 201);
    padding: 0px;
    display: flex;
    margin-bottom: 10px;
    border-radius: 15px;
    height: 60px;
}
.container-c2 svg{
    margin-left: 140px;
    margin-bottom: 5px;
}
.bi-newspaper{
    fill: green;
}
.container-c3{
    background-color: rgb(201, 206, 201);
    padding: 0px;
    display: flex;
    margin-bottom: 10px;
    border-radius: 15px;
    height: 60px;
}
.container-c3 svg{
    margin-left: 240px;
}
.content-all{
    width: 210px;
    margin: auto;
    margin-top: 50px;
    perspective: 1000px;
}
.content-carrousel{
    width: 100%;
    height: 150px;
    position:relative;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
    
}
.content-carrousel:hover{
    animation-play-state: paused;
}

.content-carrousel figure{
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: absolute;
}


.content-carrousel figure:nth-child(1){ transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){ transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){ transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){ transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){ transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){ transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){ transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){ transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){ transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}


.content-carrousel img{
    width: 150px;
}
.content-carrousel img:hover{
    transform: scale(1.2);
}
@keyframes rotar{
    from{
        transform: rotateY(0deg);
    } to{
        transform: rotateY(360deg);
    }
}
 
.image-button{
    background-image: url(../Img/fondolibro.jpg);
    background-size: cover;
    border: none;
    width: 410px;
    height: 180px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border-radius: 15px;
    display: inline-block;
    font-size: 20px;
}
.image-button::after{
  
    content: 'Nuevos Libros';
    position: absolute;
    bottom: 50px;
    transform: translate(-50%);
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: rgb(23, 173, 43);
    opacity: 80%;
    padding: 10px;
    border-radius: 15px;
    display: none;
}
.image-button:hover::after{
    display:inline-block;
}
.video-container{
    position:  relative;
    width: 90%;
    max-width: 400px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}
.video-container video{
    width: 100%;
    height: auto;
    display: block;
}
.image-button2{
    background-image: url(../Img/fondolibro.jpg);
    background-size: cover;
    border: none;
    width: 410px;
    height: 180px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border-radius: 15px;
    display: inline-block;
    font-size: 20px;
}
.image-button2::after{
    content: 'Nuevos Libros';
    position: absolute;
    bottom: -140px;
    transform: translate(-50%);
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: rgb(23, 173, 43);
    opacity: 80%;
    padding: 10px;
    border-radius: 15px;
    display: none;
}
.image-button2:hover:after{
    display: inline-block;
}
.footer{
    background-color: green;
}